[Unit]
Description=A system to send images to an E-Paper display through a Raspberry PI unit
After=network.target

[Service]
User=root
WorkingDirectory=${HOME}/code/eink-frame-flask
ExecStart=dbus-run-session -- bash ${HOME}/einkframe/scripts/run.sh
Type=idle
RemainAfterExit=false
Restart=always

[Install]
WantedBy=multi-user.target