*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    color: white;
    font-family: 'Titillium Web', sans-serif;
}

:root {
    --bs-primary: #ff0000; /* Replace with your desired color */
}

html,body{
    overflow: hidden;
    background-color: #000000;
    color: white;
}

header *{
    /*z-index: 100;*/
    background-color: #161616;
    color: white !important;
}

header {
    /*position: fixed;*/
    /*width: 100%;*/
    /*height: 100px;*/
    /*display: flex;*/
    /*padding: 0 2vw;*/
    /*height: 150px; !* Adjust the height as needed *!*/
}


.navbar {
    display: flex;
    align-items: center;
    padding-bottom: 0;
    padding-top: 0;
    font-size: 24px;
}


.navbar small{
    padding-left: 15px;
    font-size: 13px;
}

.navbar-toggler:active,
.navbar-toggler:focus {
    outline: none !important;
    box-shadow: none !important;
}
.navbar-brand{
    color: white;
    margin-left: 2.6em;
}

.navbar-brand:hover{
    color: white;
}

.navbar-toggler-icon{
    color: white;
}

#navbarMenu {
    margin-left: 2.9em;
}

.nav-link {
    font-size: 16px;
}

.title-container {
    display: flex;
    align-items: flex-end;
    margin-bottom: 30px;
}

.header h2,
.header h6 {
    margin: 0 20px 0 0;
}

.header h6 {
    margin-bottom: 3px;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #161616;
    --bs-btn-border-color: #fff;
    --bs-btn-hover-color: #161616;
    --bs-btn-hover-bg: #fff;
    --bs-btn-hover-border-color: #fff;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #161616;
    --bs-btn-active-bg: #fff;
    --bs-btn-active-border-color: #fff;
}

.btn-primary:hover .fas{
    color: #161616;
    border-color: #fff;
}

.modal-backdrop {
    background-color: #000000;
}

.modal-body{
    position: relative;
    flex: 1 1 auto;
    padding: 0;
    margin: 0;
    width: fit-content;
}

.modal-header{
    background-color: #161616;
    border-bottom-color: #161616;
}

.modal-footer{
    background-color: #161616;
    border-top-color: #161616;
}
