{% extends "base.html" %}
{% block content %}

    <style>
        .buttonMiddle{
            margin-right: 0 !important;
            border-radius: 0;
        }

        .buttonRight{
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            margin-left: 0;
        }
    </style>

    <div style="height: 200px;"></div>

    <div class="container">
        <h1>AI Image Generator</h1>
        <p>Generate an image with custom prompts using the text field below:</p>
        <div class="input-group mb-3 p-0">
                <input type="text" class="form-control" id="prompt" placeholder="Enter your prompt ...">
                    <select class="custom-select btn btn-outline-secondary dropdown-toggle btn-primary buttonMiddle mr-0" id="artType">
                        <option value="" disabled selected>Select Style</option>
                        {% for art_type in art_types %}
                            <option value="{{ art_type.value }}">{{ art_type.name.replace('_', ' ').title() }}</option>
                        {% endfor %}
                    </select>
                    <button class="btn btn-primary buttonRight" type="button" id="generateButton">
                        <i class="fas fa-magic"></i> Generate Image
                    </button>
        </div>


        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 0%"
                 aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}

    <script>
        $(document).ready(function () {
            var $progress = $('.progress');
            var $progressBar = $('.progress-bar');

            $("#generateButton").on("click", function () {
                let promptValue = $("#prompt").val();
                let artTypeValue = $("#artType").val();
                if (promptValue.trim() !== "") {
                    // Create the data to be sent in the POST request
                    var postData = {
                        prompt: promptValue,
                        artType: artTypeValue
                    };
                    $.ajax('/generateAiImage', {
                        method: 'POST',
                        data: JSON.stringify(postData),
                        contentType: "application/json",

                        xhr: function () {
                            var xhr = new XMLHttpRequest();

                            xhr.upload.onprogress = function (e) {
                                var percent = '0';
                                var percentage = '0%';

                                if (e.lengthComputable) {
                                    percent = Math.round((e.loaded / e.total) * 100);
                                    percentage = percent + '%';
                                    $progressBar.width(percentage).attr('aria-valuenow', percent).text(percentage);
                                }
                            };

                            return xhr;
                        },

                        success: function () {
                            {#$alert.show().addClass('alert-success').text('Upload success');#}
                        },

                        error: function () {
                            console.log('Upload error');
                        },

                        complete: function () {
                            $progress.hide();
                        },
                    });
                } else {
                    alert("Please enter a prompt before generating the image.");
                }
            });
        });
    </script>
{% endblock %}
