{% extends "shared/base.html" %}
{% block content %}

    <style>
        .buttonMiddle {
            margin-right: 0 !important;
            border-radius: 0;
        }

        .buttonRight {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            margin-left: 0;
        }

        .buttonIconLeft {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            margin-right: 0;
            background: #161616;
            border-color: #fff;
        }

        .fullWidth {
            width: 100%;
        }
    </style>

    <div class="container">
        <h1>AI Image Generator</h1>
        <p>Generate an image with custom prompts using the text field below:</p>
        <div class="input-group mb-3 p-0">
            <span class="input-group-text buttonIconLeft"><i class="fa-solid fa-terminal"></i></span>
            <textarea autofocus class="form-control" id="positive_prompt" placeholder="enter your prompt"
                      rows="2"></textarea>
            <button class="btn btn-primary buttonRight" type="button" id="generateButton">
                <i class="fas fa-magic"></i> Generate Image
            </button>
        </div>
        <div class="input-group mb-3 p-0">
            <span class="input-group-text buttonIconLeft"><i class="fa-solid fa-ban"></i></span>
            <input type="text" class="form-control" id="negative_prompt" placeholder="enter words to exclude">
        </div>


        <div class="container">
            <div class="row">
                <div class="col-4 mb-3 p-0">
                    <select class="custom-select btn btn-outline-secondary dropdown-toggle btn-primary buttonMiddle mr-0 fullWidth"
                            id="artType">
                        <option value="" disabled selected>Select Style</option>
                        {% for art_type in art_types %}
                            <option value="{{ art_type.name }}">{{ art_type.value.replace('-', ' ').title() }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-4 mb-3 p-0">
                    <select class="custom-select btn btn-outline-secondary dropdown-toggle btn-primary buttonMiddle mr-0 fullWidth"
                            id="engineType">
                        <option value="" disabled selected>Select Engine</option>
                        {% for id, description in engines.items() %}
                            <option value="{{ id }}"{% if id == 'stable-diffusion-v1-6' %}
                                    selected{% endif %}>{{ description }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-4 mb-3 p-0">
                    <select class="custom-select btn btn-outline-secondary dropdown-toggle btn-primary buttonMiddle mr-0 fullWidth"
                            id="orientationType">
                        <option value="" disabled selected>Select Orientation</option>
                        {% for orientation_type in orientation_types %}
                            <option value="{{ orientation_type.name }}"
                                    {% if orientation_type.name == 'HORIZONTALLY' %}selected{% endif %}>{{ orientation_type.value }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-check" style="margin-bottom: 15px">
                    <input class="form-check-input" type="checkbox" value="" id="optimize">
                    <label class="form-check-label" for="optimize">
                        Optimize for e-ink frame
                    </label>
                </div>

            </div>
        </div>


        <div class="progress" style="display: none;">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%"
                 aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">Loading ...
            </div>
        </div>

    </div>

    <div class="modal " tabindex="-1" role="dialog" id="imageModal">
        <div class="modal-dialog modal-fullscreen" role="document">
            <div class="modal-content" style="background: black">
                <div class="modal-header">
                    <h5 class="modal-title">Generated Image</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <img id="modalGeneratedImage" class="mx-auto d-block"
                         style="max-width: 100%; max-height: 100%; object-fit: contain;" src="" alt="Generated Image">
                </div>
                <div class="modal-footer">
                    <div class="progressModal col-12" style="display: none;">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                             style="width: 100%"
                             aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">Loading ...
                        </div>
                    </div>
                    <div class="row col-12">
                        <div class="form-check form-switch col-4">
                            <input class="form-check-input" type="checkbox" id="shouldSaveImage" autocomplete="off">
                            <label class="form-check-label" for="flexSwitchCheckDefault">&nbsp;<i
                                    class="far fa-floppy-disk" data-bs-toggle="tooltip" data-bs-placement="top"
                                    title="Save image for reuse"></i>&nbsp;Save
                            </label>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary col-12" id="sendToFrameBtn">Send to Frame</button>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block scripts %}

    <script>
        $(document).ready(function () {
            var $progress = $('.progress');

            $('#positive_prompt').on('keydown', function (event) {
                if (event.which === 13) {
                    event.preventDefault();
                    $('#generateButton').click();
                }
            });

            $("#generateButton").on("click", function () {
                $progress.show();
                let positivePromptValue = $("#positive_prompt").val();
                let negativePromptValue = $("#negative_prompt").val();
                let artTypeValue = $("#artType").val();
                let engineTypeValue = $("#engineType").val();
                let orientationTypeValue = $("#orientationType").val();
                let optimizedIsChecked = $("#optimize").prop("checked");
                if (optimizedIsChecked) {
                    positivePromptValue += ', grayscale, high contrast between motive and background';
                }
                if (positivePromptValue.trim() !== "") {
                    let postData = {
                        positive_prompt: positivePromptValue,
                        negative_prompt: negativePromptValue,
                        artType: artTypeValue,
                        engineType: engineTypeValue,
                        orientationType: orientationTypeValue
                    };
                    $.ajax('/ai/generate', {
                        method: 'POST',
                        data: JSON.stringify(postData),
                        contentType: "application/json",

                        success: function (response) {
                            localStorage.setItem("filename", response["key"]);
                            $('#modalGeneratedImage').attr('src', 'data:image/jpeg;base64, ' + response["image"]);
                            $('#imageModal').modal('show');
                        },

                        error: function () {
                            console.log('Upload error');
                        },

                        complete: function () {
                            $progress.hide();
                        },
                    });
                } else {
                    alert("Please enter a prompt before generating the image.");
                    $progress.hide();
                }
            });


            $('#sendToFrameBtn').on('click', function () {
                var $progressModal = $('.progressModal');
                $progressModal.show();
                const postData = {
                    should_save_image: $("#shouldSaveImage").prop('checked'),
                    key: localStorage.getItem("filename"),
                };
                $.ajax({
                    type: "POST",
                    url: "/ai/sendToFrame",
                    data: JSON.stringify(postData),
                    contentType: 'application/json',
                    success: function (response) {
                        setTimeout(function () {
                            console.log("Image uploaded successfully:", response);
                            $('#imageModal').modal('hide');
                            $progressModal.hide();
                        }, 2200);
                    },
                    error: function (error) {
                        console.error("Error uploading image:", error);
                        $('#imageModal').modal('hide');
                        $progressModal.hide();
                    }
                });
            });
        });
    </script>
{% endblock %}
