{% extends "base.html" %}
{% block content %}

    <style>
        .buttonMiddle {
            margin-right: 0 !important;
            border-radius: 0;
        }

        .buttonRight {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            margin-left: 0;
        }


        .fullWidth {
            width: 100%;
        }
    </style>

    <div style="height: 200px;"></div>

    <div class="container">
        <h1>AI Image Generator</h1>
        <p>Generate an image with custom prompts using the text field below:</p>
        <div class="input-group mb-3 p-0">
            <input type="text" class="form-control" id="prompt" placeholder="Enter your prompt ...">
            <button class="btn btn-primary buttonRight" type="button" id="generateButton">
                <i class="fas fa-magic"></i> Generate Image
            </button>
        </div>


        <div class="container">
            <div class="row">
                <div class="col-4 mb-3 p-0">
                    <select class="custom-select btn btn-outline-secondary dropdown-toggle btn-primary buttonMiddle mr-0 fullWidth"
                            id="artType">
                        <option value="" disabled selected>Select Style</option>
                        {% for art_type in art_types %}
                            <option value="{{ art_type.name }}">{{ art_type.value.replace('-', ' ').title() }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-4 mb-3 p-0">
                    <select class="custom-select btn btn-outline-secondary dropdown-toggle btn-primary buttonMiddle mr-0 fullWidth"
                            id="engineType">
                        <option value="" disabled selected>Select Engine</option>
                        {% for id, description in engines.items() %}
                            <option value="{{ id }}"{% if id == 'stable-diffusion-v1-6' %}
                                    selected{% endif %}>{{ description }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-4 mb-3 p-0">
                    <select class="custom-select btn btn-outline-secondary dropdown-toggle btn-primary buttonMiddle mr-0 fullWidth"
                            id="orientationType">
                        <option value="" disabled selected>Select Orientation</option>
                        {% for orientation_type in orientation_types %}
                            <option value="{{ orientation_type.name }}"
                                    {% if orientation_type.name == 'HORIZONTALLY' %}selected{% endif %}>{{ orientation_type.value }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-check" style="margin-bottom: 15px">
                    <input class="form-check-input" type="checkbox" value="" id="optimize">
                    <label class="form-check-label" for="optimize">
                        Optimize for e-ink frame
                    </label>
                </div>

            </div>
        </div>


        <div class="progress" style="display: none;">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%"
                 aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">Loading ...
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}

    <script>
        $(document).ready(function () {
            var $progress = $('.progress');
            var $progressBar = $('.progress-bar');
            $("#generateButton").on("click", function () {
                $progress.show();
                let promptValue = $("#prompt").val();
                let artTypeValue = $("#artType").val();
                let engineTypeValue = $("#engineType").val();
                let orientationTypeValue = $("#orientationType").val();
                let optimizedIsChecked = $("#optimize").prop("checked");
                if (optimizedIsChecked) {
                    promptValue += ', grayscale, high constast between motive and background';
                }
                if (promptValue.trim() !== "") {
                    var postData = {
                        prompt: promptValue,
                        artType: artTypeValue,
                        engineType: engineTypeValue,
                        orientationType: orientationTypeValue
                    };
                    $.ajax('/generateAiImage', {
                        method: 'POST',
                        data: JSON.stringify(postData),
                        contentType: "application/json",

                        success: function () {
                            {#$alert.show().addClass('alert-success').text('Upload success');#}
                        },

                        error: function () {
                            console.log('Upload error');
                        },

                        complete: function () {
                            $progress.hide();
                        },
                    });
                } else {
                    alert("Please enter a prompt before generating the image.");
                    $progress.hide();
                }
            });
        });
    </script>
{% endblock %}
