{% extends "shared/base.html" %}
{% block header %}
    <!-- Custom styles for this site -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/start.css') }}"/>
{% endblock %}
{% block content %}
    <div class="container">
        <h1 class="d-inline me-2 ">Welcome </h1>
        <span class="badge text-bg-dark device_status">
        </span>
        <p>Use the functions below to display a picture on the frame:</p>

        <div class="row" id="card-container"></div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.4/socket.io.js"
            integrity="sha512-tE1z+95+lMCGwy+9PnKgUSIeHhvioC9lMlI7rLWU0Ps3XTdjRygLcy4mLuL0JAoK4TLdQEyP0yOl/9dMOqpH/Q=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        var socket;


        $(document).ready(function () {

            const cardData = [
                {iconClass: 'fas fa-search fa-4x', description: 'API Image search', link: '/search'},
                {iconClass: 'fas fa-magic fa-4x', description: 'AI Image Generation', link: '/ai'},
                {iconClass: 'fas fa-upload fa-4x', description: 'Upload Image', link: '/upload'},
                {iconClass: 'fa-solid fa-download fa-4x', description: 'Send from URL', link: '/url'},
                {iconClass: 'fa-solid fa-hard-drive fa-4x', description: 'Select from store', link: '/selector'},
                {
                    iconClass: 'fa-solid fa-calculator fa-4x',
                    description: 'Calculate Mandelbrot set',
                    link: '/mandelbrot'
                }
            ];

            for (var i = 0; i < cardData.length; i++) {
                const cardHtml = `
                    <div class="col-md-4 mb-4">
                      <a href="${cardData[i].link}" class="card text-center">
                      <div class="card text-center">
                        <div class="card-body home_body">
                          <i class="${cardData[i].iconClass} mb-3 home_icon"></i>
                          <p class="card-text">${cardData[i].description}</p>
                        </div>
                      </div>
                     </a>
                    </div>
                  `;
                $('#card-container').append(cardHtml);
            }
        });
    </script>

{% endblock %}
