<header>
    <nav class="navbar py-4">
        <a class="navbar-brand" href="#">Ink Frame
            <small>{{ title }}</small></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu"
                aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
                <i class="fas fa-bars" style="color:#fff; font-size:28px;"></i>
            </span>
        </button>

        <div class="collapse navbar-collapse" id="navbarMenu">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/selector">Image Selector<span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/upload">Upload Image</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ai">AI Image Generator</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api">API Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/mandelbrot">Mandelbrot</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/url">Image from URL</a>
                </li>
            </ul>
        </div>
    </nav>
</header>