<footer class="footer mt-auto py-3 ">
    <div class="container footer-container">
        <div class="row col-12">
            <div class="row col-12 right-div">
            <span class="clearfix">
            Crafted with <i class="fa fa-heart text-city"></i> by <a>lucaingold</a>
            </span>
            </div>


        </div>
    </div>

</footer>

<style>
    footer {
        background-color: #161616;
        color: white !important;
        z-index: 1000;
    }

    .footer-container {
        display: flex;
        margin-left: 2.6em;
        margin-right: 0.6em;
        padding-right: 0;
    }


    .right-div {
        text-align: right;
    }

</style>